[Unit]
Description=Flow Meters server
After=network.target

[Service]
Type=simple
WorkingDirectory=/srv/flow
ExecStart=/srv/flow/FlowServer.py
PIDFile=/var/run/flowserver.pid
Restart=always
RestartSec=2
TimeoutStopSec=1

[Install]
WantedBy=multi-user.target
